<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.unipad.brain"
    android:versionCode="1"
    android:versionName="@string/versionName">

    <!-- 手机震动权限 -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 在SD卡中创建和删除文件、写入数据权限 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />



    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote">
            <intent-filter>
                <action android:name="com.baidu.location.service_v2.2" />
            </intent-filter>
        </service>

        <service android:name="com.unipad.brain.home.dao.LoadService">
            <intent-filter>
                <action android:name="com.loaddown.application" />
            </intent-filter>

        </service>

        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="1E3IWKk5zDAOVMaDBgSzTp7L3krzXFIi" />
        <!-- http://lbsyun.baidu.com/apiconsole/key -->

        <activity
            android:name=".personal.login.LoginActivity"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateHidden|adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".personal.PersonalActivity"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="com.unipad.common.CommonActivity"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".personal.login.RegisterActivity"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".personal.login.ForgetPwdActivity"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".home.CompetitionListActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".main.MainActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".location.LocationActivity"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".consult.view.PagerDetailActivity"
            android:screenOrientation="landscape" />

        <activity
            android:name=".consult.view.SearchResultActivity"
            android:screenOrientation="landscape" />

        <activity
            android:name=".personal.PersonalInfoActivty"
            android:screenOrientation="landscape"/>
        <!--   ATTENTION: This was auto-generated to add Google Play services to your project for
             App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information.   -->

    </application>

</manifest>
